flows.json
[
    {
        "id": "416c43c0.5c793c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94bb87f1.2df648",
        "type": "inject",
        "z": "416c43c0.5c793c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "3ca4114a.9e49ee",
                "4b70eb3.c24ef14",
                "201be84d.f8bc58"
            ]
        ]
    },
    {
        "id": "3ca4114a.9e49ee",
        "type": "debug",
        "z": "416c43c0.5c793c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b70eb3.c24ef14",
        "type": "function",
        "z": "416c43c0.5c793c",
        "name": "Sanchit",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "3ca4114a.9e49ee",
                "f4f4a7e8.b95ca8"
            ]
        ]
    },
    {
        "id": "f4f4a7e8.b95ca8",
        "type": "switch",
        "z": "416c43c0.5c793c",
        "name": "AS",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "3ca4114a.9e49ee"
            ]
        ]
    },
    {
        "id": "201be84d.f8bc58",
        "type": "change",
        "z": "416c43c0.5c793c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "3ca4114a.9e49ee"
            ]
        ]
    }
]